<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron">
                <h1 class="welcome-title">Welcome to the F1 Files</h1>
                <h4 class="welcome-subtitle">Get information about your favourite races at the click of a button!</h4>
                <p>
                    <button class="btn btn-lg btn-danger" routerLink="./home">Get started</button>
                </p>
            </div>
        </div>
    </div>
</div>