<div class="container px-lg-5">
    <!-- Title -->
    <h2 class="section-title">Schelude</h2>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="upcoming-tab" data-bs-toggle="tab" data-bs-target="#upcoming" type="button" role="tab" aria-controls="upcoming" aria-selected="true">UPCOMING</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="past-tab" data-bs-toggle="tab" data-bs-target="#past" type="button" role="tab" aria-controls="past" aria-selected="false">PAST</button>
          </li>
      </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
            <app-schelude-upcoming-list [races]="upcomingRaces" [countries]="countriesIso"></app-schelude-upcoming-list>
        </div>
        <div class="tab-pane" id="past" role="tabpanel" aria-labelledby="past-tab">
            <app-schelude-past-list [races]="pastRaces" [countries]="countriesIso"></app-schelude-past-list>
        </div>
    </div>
</div>
