.colour-team {
    padding: 0 !important;
    margin: 0 !important;
    width: 20px !important;
  }

  /* TEAM COLOURS */

.mercedes {
    background-color: #6cd3bf;
  }
  
  .ferrari {
    background-color: #ed1c24;
  }
  
  .mclaren {
    background-color: #f58020;
  }
  
  .red_bull {
    background-color: #1e5bc6;
  }
  
  .aston_martin {
    background-color: #2d826d;
  }
  
  .alphatauri {
    background-color: #4e7c9b;
  }
  
  .alpine {
    background-color: #2293d1;
  }
  
  .alfa {
    background-color: #b12039;
  }
  
  .williams {
    background-color: #37bedd;
  }
  
  .haas {
    background-color: #b6babd;
    /* box-shadow: 0px 0px 0px 1px rgb(158, 158, 158) inset; */
  }

  .sauber {
    background-color: #DE3126;
  }

  .rb {
    background-color: #C0BFBF;
  }